@media (min-width: 350px) and (max-width: 767px) {

	body {
		& #registro {
			& .container {
				& .container__iphone {
					display: none;
				}
				& .container__right {
					& .container__div {
						margin-top: -20px;

						& .form {
							& .logo__img {
								margin: 0 auto;
							}
							& .form__item {
								& .form__input {
									::placeholder {
										font-size: 11px;
									}
								}
							}

							& .iniciarConFacebook {
								& a {
									font-size: 13px;
									font-weight: 600;
								}
							}
						}

						& .registrate {
							& p {
								font-size: 13px;

								& a {
									font-size: 13px;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}

		& #footer {
			& .container__footer {
				width: 95%;

				& .ul__first {
					& li {
						margin: 7px 7px;
						font-size: 13px;
					}
				}
			}
		}
	}
}


@media (min-width: 768px) and (max-width: 991px) {

	body {
		& #registro {
			& .container {
				& .container__right {
					& .container__div {
						margin-top: -20px;

						& .form {
							& .logo__img {
								margin: 0 auto;
							}
							& .form__item {
								& .form__input {
									::placeholder {
										font-size: 12px;
									}
								}
							}

							& .iniciarConFacebook {
								& a {
									font-size: 15px;
									font-weight: 600;
								}
							}
						}

						& .registrate {
							& p {
								font-size: 15px;

								& a {
									font-size: 15px;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}

		& #footer {
			& .container__footer {
				width: 90%;

				& .ul__first {
					& li {
						margin: 7px 15px;
						font-size: 14px;
					}
				}
			}
		}
	}
}