.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    .about__description {
        text-align: center;
	    color: $subtitle-color;

             h2 {
                font-size: 25px;
                color: $font-color;
                margin-bottom: 30px;
                line-height: 45px;
            }

            & p {
                font-size: 17px;
                margin-bottom: 35px;
                line-height: 45px;
            }

            & a i {
                margin-right: 5px;
            }

            & .button__cv-animation {
                margin: 0 auto;
                width: 300px;
                height: 50px;
                background-color: $neon-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                animation-name: sombra;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                box-shadow: 0 0 10px #fff;

                    & a {
                        color: #fff;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        letter-spacing: 2px;
                        font-size: 24px;
                    }
            }

            @keyframes sombra {
                0% {
        
                }
        
                100% {
                    box-shadow:0 0 75px #08fdd8,
                        0 0 55px #08FDd8,
                        0 0 40px #08FDd8,
                        0 0 30px #08FDd8,
                        0 0 20px #08FDd8,
                        0 0 15px #FFF,
                        0 0 10px #FFF,
                        0 0 5px #FFF;
                }
            }
    }


    .about__skills {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;

        & .skill__title {
            grid-column: span 3;
            color: $subtitle-color;
            text-align: center;
        }

        & .skill__item {
            background-color: $alternative-black-color;
            font-size: 50px;
            color: $subtitle-color;
            padding: 35px;
            transition: all .5s;
            min-width: 130px;
            min-height: 110px;
            border-radius: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:hover {
                color: $neon-color;
	            transition: all .5s;
            }

            .skill__name {
                font-size: 16px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
}