$neon-color: #08fdd8;
$font-color: #f5f5f5;
$subtitle-color: #8e8e8e;
$alternative-black-color: #191919;


.section__title {
	color: $font-color;
	font-size: 35px;
	margin-bottom: 40px;
	font-weight: bold;
}

section {
    padding: 90px 0;
    text-align: center;
    background: #040402;
  }

.section__title:after {
	content: "";
	display: block;
	width: 170px;
	height: 4px;
	background-color: $neon-color;
	margin: 7px auto 40px;
}

.section__subtitle {
	color: $subtitle-color;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
}