.home {
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: relative;

    .home__background {
        background-image: url(../assets/bg.webp);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .container__profile {
        position: relative;
        height: 380px;
        border-radius: 5%;
        box-shadow: 5px 5px 5px transparent;
        transition: box-shadow .7s ease-in-out;

        &:hover {
            box-shadow: 0 0 75px #08fdd8,
            0 0 35px #08FDd8,
            0 0 20px #08FDd8,
            0 0 10px #08FDd8,
            0 0 5px #08FDd8;
            transition: box-shadow .7s ease-in-out;
        }

        & .home__profile {
            height: 100%;
            border-radius: 5%;
            object-fit: cover;
        }

        & .home__profile2 {
            height: 100%;
            border-radius: 5%;
            object-fit: cover;
            position: absolute;
            left: 0px;
            opacity: 1;
            transition: opacity .7s ease-in-out;

             &:hover {
                opacity: 0;
                transition: opacity .7s ease-in-out;
             }
        }
    }

    .home__description {
        margin-left: 40px;

        .home__title {
            font-size: 60px;
            text-shadow: 1px 1px black;
            color: $neon-color;
        }

        .home__title--primary, .home__title--secondary {
            font-size: 45px;
            color: $font-color;
            text-shadow: 0 10px 10px white;
        }
    }
  }


