@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

$neon-color: #08fdd8;
$font-color: #f5f5f5;
$subtitle-color: #8e8e8e;
$alternative-black-color: #191919;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*a {
    text-decoration: none;
    color: $font-color;
}

html {
    scroll-behavior: smooth;
}

@mixin bodyStyles {
    font-family: "Montserrat", sans-serif;
    background: #040402;
    color: $font-color;
}

@mixin contenedorStyles {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

@mixin sectionStyles {
    padding: 90px 0;
    text-align: center;
    background: #040402;
}

@mixin sectionTitleStyles {
    color: $font-color;
	margin-bottom: 40px;
	font-size: 35px;
	font-weight: bold;

    &::after {
        content: "";
        display: block;
        width: 170px;
        height: 4px;
        background-color: $neon-color;
        margin: 7px auto 40px;
    }
}

@mixin sectiosSubtitleStyles {
    color: $subtitle-color;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
}

@mixin navegacionStyles {
    position: fixed;
	background: transparent;
	transition: background .5s;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 60px;
	width: 100%;
    top: 0;
    left: 0;
	z-index: 5;

    & .contenedor {
        width: 100%;
        display: inherit;
        max-width: 1200px;
        justify-content: inherit;
        margin: 0 auto;
        padding: 0 20px;

        & .navegacion__logo {
            display: flex;
			align-items: center;

            & .navegacion__title {
				display: flex;
				flex-direction: row;
				font-size: 24px;

                &::before {
					content: "<";
  					color: $neon-color;
					margin-right: 3px;
				}

				&::after {
					content: "/>";
  					color: $neon-color;
					margin-left: 3px;
				}

                & a:hover {
					color: $neon-color;
					text-shadow:0 0 75px #08fdd8,
								0 0 55px #08FDd8,
								0 0 40px #08FDd8,
								0 0 30px #08FDd8,
								0 0 20px #08FDd8,
								0 0 15px #FFF,
								0 0 10px #FFF,
								0 0 5px #FFF;
					transition: color 1s, text-shadow 1s;
				}

                & a {
					text-decoration: none;
					display: flex;
					flex-direction: row;
					color: $font-color;
					text-shadow: 5px 5px 5px transparent;
					transition: color 1s, text-shadow 1s;
				}
            }
        }

        & .navegacion__menu {
            display: none;
	        align-items: center;
			font-size: 35px;
        }

        & .navegacion__links {
            list-style: none;
			display: flex;
			height: 100%;
			align-items: center;

            & .div__logo {
                visibility: visible;
                width: 100%; 
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 10px 0;
                background: rgba(49, 49, 49, .7);

                & .p1 {
                    font-weight: bold; 
                    font-size: 45px; 
                    height: 70px;
                    margin-top: 20px;
                    color: red;
                    text-shadow: #08fdd8 -5px 0px 1px;
                }

                & .p2 {
                    font-weight: bold;
                }

                & h4 {
                    color: gray; 
                    font-size: 14px;
                }
            }

            & .navegacion__link {
                padding-left: 20px;

                & a {
                    text-decoration: none;
					color: $font-color;
					text-shadow: 5px 10px 3px transparent;
					transition: text-shadow .5s, color 1s;

                    &:hover {
                        color: $neon-color;
                        text-shadow: 5px 10px 3px rgba(206,89,55,0), 6px 10px 3px #08fdd8;
                        /*text-shadow: 0 15px 5px white;*/
                        transition: text-shadow .2s, color 1s;
                    }
                }
            }

            & .active a {
                color: $neon-color;
      
                text-shadow:0 0 75px #08fdd8,
                            0 0 55px #08FDd8,
                            0 0 40px #08FDd8,
                            0 0 30px #08FDd8,
                            0 0 20px #08FDd8,
                            0 0 15px #FFF,
                            0 0 10px #FFF,
                            0 0 5px #FFF;
                transition: color 1s, text-shadow .5s;
            }
        }
    }
}

@mixin footerStyles{
        color: $subtitle-color;
	    background-color: rgba(0, 0, 0, 0.9);
	    padding: 15px 0;
	    text-align: center;
	    font-size: 15px;

        & .container {
            & p a {
                color: $subtitle-color;
                text-decoration: none;

                &:hover {
                    color: $neon-color;
                }
            }
        }
}