

.navegacion {
    position: fixed;
	background: transparent;
	transition: background .5s;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 60px;
	width: 100%;
    top: 0;
    left: 0;
	z-index: 5;

		&__logo {
			display: flex;
			align-items: center;

				& .navegacion__title {
					display: flex;
					flex-direction: row;
					font-size: 24px;

					&::before {
						content: "<";
  						color: $neon-color;
						margin-right: 3px;
					}

					&::after {
						content: "/>";
  						color: $neon-color;
						margin-left: 3px;
					}
					
					& a:hover {
						color: $neon-color;
						text-shadow:0 0 75px #08fdd8,
									0 0 55px #08FDd8,
									0 0 40px #08FDd8,
									0 0 30px #08FDd8,
									0 0 20px #08FDd8,
									0 0 15px #FFF,
									0 0 10px #FFF,
									0 0 5px #FFF;
						transition: color 1s, text-shadow 1s;
					}

					& a {
						text-decoration: none;
						display: flex;
						flex-direction: row;
						color: $font-color;
						text-shadow: 5px 5px 5px transparent;
						transition: color 1s, text-shadow 1s;
					}
				}
		}

		&__menu {
			display: none;
			align-items: center;
			font-size: 35px;
		}

		&__links {
			list-style: none;
			display: flex;
			height: 100%;
			align-items: center;

			.navegacion__link {
				padding-left: 20px;
				& a {
					text-decoration: none;
					color: $font-color;
					text-shadow: 5px 10px 3px transparent;
					transition: text-shadow .5s, color 1s;
					&:hover {
						color: $neon-color;
						text-shadow: 5px 10px 3px rgba(206,89,55,0), 6px 10px 3px #08fdd8;
						/*text-shadow: 0 15px 5px white;*/
						transition: text-shadow .2s, color 1s;
					}
				}
			}
			& .active a {
				color: $neon-color;
  
				text-shadow:0 0 75px #08fdd8,
							0 0 55px #08FDd8,
							0 0 40px #08FDd8,
							0 0 30px #08FDd8,
							0 0 20px #08FDd8,
							0 0 15px #FFF,
							0 0 10px #FFF,
							0 0 5px #FFF;
				transition: color 1s, text-shadow .5s;
			}
		}
}