@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*a {
  text-decoration: none;
  color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #040402;
  color: #f5f5f5;
}

body .navegacion {
  position: fixed;
  background: transparent;
  -webkit-transition: background .5s;
  transition: background .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

body .navegacion .contenedor {
  width: 100%;
  display: inherit;
  max-width: 1200px;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  margin: 0 auto;
  padding: 0 20px;
}

body .navegacion .contenedor .navegacion__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navegacion .contenedor .navegacion__logo .navegacion__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 24px;
}

body .navegacion .contenedor .navegacion__logo .navegacion__title::before {
  content: "<";
  color: #08fdd8;
  margin-right: 3px;
}

body .navegacion .contenedor .navegacion__logo .navegacion__title::after {
  content: "/>";
  color: #08fdd8;
  margin-left: 3px;
}

body .navegacion .contenedor .navegacion__logo .navegacion__title a:hover {
  color: #08fdd8;
  text-shadow: 0 0 75px #08fdd8, 0 0 55px #08FDd8, 0 0 40px #08FDd8, 0 0 30px #08FDd8, 0 0 20px #08FDd8, 0 0 15px #FFF, 0 0 10px #FFF, 0 0 5px #FFF;
  -webkit-transition: color 1s, text-shadow 1s;
  transition: color 1s, text-shadow 1s;
}

body .navegacion .contenedor .navegacion__logo .navegacion__title a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #f5f5f5;
  text-shadow: 5px 5px 5px transparent;
  -webkit-transition: color 1s, text-shadow 1s;
  transition: color 1s, text-shadow 1s;
}

body .navegacion .contenedor .navegacion__menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
}

body .navegacion .contenedor .navegacion__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navegacion .contenedor .navegacion__links .div__logo {
  visibility: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
  background: rgba(49, 49, 49, 0.7);
}

body .navegacion .contenedor .navegacion__links .div__logo .p1 {
  font-weight: bold;
  font-size: 45px;
  height: 70px;
  margin-top: 20px;
  color: red;
  text-shadow: #08fdd8 -5px 0px 1px;
}

body .navegacion .contenedor .navegacion__links .div__logo .p2 {
  font-weight: bold;
}

body .navegacion .contenedor .navegacion__links .div__logo h4 {
  color: gray;
  font-size: 14px;
}

body .navegacion .contenedor .navegacion__links .navegacion__link {
  padding-left: 20px;
}

body .navegacion .contenedor .navegacion__links .navegacion__link a {
  text-decoration: none;
  color: #f5f5f5;
  text-shadow: 5px 10px 3px transparent;
  -webkit-transition: text-shadow .5s, color 1s;
  transition: text-shadow .5s, color 1s;
}

body .navegacion .contenedor .navegacion__links .navegacion__link a:hover {
  color: #08fdd8;
  text-shadow: 5px 10px 3px rgba(206, 89, 55, 0), 6px 10px 3px #08fdd8;
  /*text-shadow: 0 15px 5px white;*/
  -webkit-transition: text-shadow .2s, color 1s;
  transition: text-shadow .2s, color 1s;
}

body .navegacion .contenedor .navegacion__links .active a {
  color: #08fdd8;
  text-shadow: 0 0 75px #08fdd8, 0 0 55px #08FDd8, 0 0 40px #08FDd8, 0 0 30px #08FDd8, 0 0 20px #08FDd8, 0 0 15px #FFF, 0 0 10px #FFF, 0 0 5px #FFF;
  -webkit-transition: color 1s, text-shadow .5s;
  transition: color 1s, text-shadow .5s;
}

body #about {
  padding: 90px 0;
  text-align: center;
  background: #040402;
}

body #about .container .section__title {
  color: #f5f5f5;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: bold;
}

body #about .container .section__title::after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  background-color: #08fdd8;
  margin: 7px auto 40px;
}

body #about .container .about__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 60px;
}

body #about .container .about__grid .about__description {
  text-align: center;
  color: #8e8e8e;
}

body #about .container .about__grid .about__description .section__subtitle {
  color: #8e8e8e;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

body #about .container .about__grid .about__description h2 {
  font-size: 25px;
  color: #f5f5f5;
  margin-bottom: 30px;
  line-height: 45px;
}

body #about .container .about__grid .about__description p {
  font-size: 17px;
  margin-bottom: 35px;
  line-height: 45px;
}

body #about .container .about__grid .about__description .button__cv-animation {
  margin: 0 auto;
  width: 300px;
  height: 50px;
  background-color: #08fdd8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: sombra;
          animation-name: sombra;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

@-webkit-keyframes sombra {
  0% {
  }
  100% {
    -webkit-box-shadow: 0 0 75px #08fdd8, 0 0 55px #08FDd8, 0 0 40px #08FDd8, 0 0 30px #08FDd8, 0 0 20px #08FDd8, 0 0 15px #FFF, 0 0 10px #FFF, 0 0 5px #FFF;
            box-shadow: 0 0 75px #08fdd8, 0 0 55px #08FDd8, 0 0 40px #08FDd8, 0 0 30px #08FDd8, 0 0 20px #08FDd8, 0 0 15px #FFF, 0 0 10px #FFF, 0 0 5px #FFF;
  }
}

@keyframes sombra {
  0% {
  }
  100% {
    -webkit-box-shadow: 0 0 75px #08fdd8, 0 0 55px #08FDd8, 0 0 40px #08FDd8, 0 0 30px #08FDd8, 0 0 20px #08FDd8, 0 0 15px #FFF, 0 0 10px #FFF, 0 0 5px #FFF;
            box-shadow: 0 0 75px #08fdd8, 0 0 55px #08FDd8, 0 0 40px #08FDd8, 0 0 30px #08FDd8, 0 0 20px #08FDd8, 0 0 15px #FFF, 0 0 10px #FFF, 0 0 5px #FFF;
  }
}

body #about .container .about__grid .about__description .button__cv-animation .button__cv {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  font-size: 24px;
}

body #about .container .about__grid .about__description .button__cv-animation .button__cv i {
  margin-right: 5px;
}

body #about .container .about__grid .about__skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

body #about .container .about__grid .about__skills .skill__title {
  grid-column: span 3;
  color: #8e8e8e;
  text-align: center;
}

body #about .container .about__grid .about__skills .skill__item {
  background-color: #191919;
  font-size: 50px;
  color: #8e8e8e;
  padding: 35px;
  -webkit-transition: all .5s;
  transition: all .5s;
  min-width: 130px;
  min-height: 110px;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #about .container .about__grid .about__skills .skill__item:hover {
  color: #08fdd8;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body #about .container .about__grid .about__skills .skill__item .skill__name {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

body #footer {
  color: #8e8e8e;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px 0;
  text-align: center;
  font-size: 15px;
}

body #footer .container p a {
  color: #8e8e8e;
  text-decoration: none;
}

body #footer .container p a:hover {
  color: #08fdd8;
}
/*# sourceMappingURL=about.css.map */