@import "../../../css/scss/mixins";

body {
    @include bodyStyles;

    & .navegacion {
        @include navegacionStyles;
    }

    & #contact {
        @include sectionStyles;

        & .container {
            & .section__title {
                @include sectionTitleStyles;
            }

            & .section__subtitle {
                @include sectiosSubtitleStyles;
            }

            & .contact__grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                & a {
                    text-decoration: none;

                    & .contact__item {
                        background: $alternative-black-color;
                        color: $subtitle-color;
                        padding: 50px;
                        border-radius: 10px;
                        transition: all 0.3s;

                        &:hover {
                            transition: all 1s;
                            color: $font-color;
                            text-shadow: 2px 2px #040402;

                            i {
                                transition: color 1s, text-shadow 1s;
                                color: $neon-color;
                                text-shadow: 3px 3px #040402;
                            }
                        }

                        & i {
                            font-size: 50px;
                            margin-bottom: 10px;
                            transition: color 1s;
                            color: $subtitle-color;
                        }

                        & p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    & #footer {
        @include footerStyles;
    }
}